<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find cnc_test17)/config/joint_names_cnc_test17.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/cnc_test17" args="
    joint_state_controller
    x_position_controller y_position_controller
    z_position_controller " />

  <!-- convert joint states to TF transforms for rviz, etc -->
  
  <!--node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" >
    
    <remap from="/joint_states" to="/cnc_test17/joint_states" />
  </node-->
  <node name="robot_state_publisher" 
        pkg="robot_state_publisher" 
        type="robot_state_publisher"
        respawn="false" 
        output="screen">
    <remap from="/joint_states" to="/cnc_test17/joint_states" />
  </node>

</launch>
